#StatsContainer{
    /* color: blue; */
}

.stat-row{
    /* background-color: aqua; */
    padding: 5px 10px 5px 10px;
    /* border-radius: 3px; */
    /* border-bottom: 2px solid black; */
}

.stat-row div{
    /* border-right: solid black 2px; */
}

.flex-row div{
    width:15%;
}

.won{
    width:10% !important;
}

.percent-won{
    width:10% !important;
}

.average-win-time{
    width:18% !important;
}

.bg-gray{
    background-color: rgb(172, 172, 172);
}

.bg-light-gray{
    background-color: rgb(233, 233, 233);
}