#StatsContainer{
    color: blue;
}

.stat-row{
    background-color: aqua;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}

.flex-row div{
    width:15%;
}

.won{
    width:10% !important;
}

.percent-won{
    width:10% !important;
}

.average-win-time{
    width:20% !important;
}