<div id="StatsContainer" class="d-flex flex-column p-4 font-weight-bold">
  <div class="headings d-flex flex-row justify-content-between p-2 text-dark">
    <div>

    </div>
    <div>
      Won
    </div>
    <div>
      Attempted
    </div>
    <div>
      % Won
    </div>
    <div>
      Best Win Time
    </div>
    <div>
      Average Win Time
    </div>
  </div>
  <div class="row-one d-flex flex-row p-2 justify-content-between">
    <div class="">
      Beginner
    </div>
    <div class="">
      {{Stats.Beginner.Won}}
    </div>
    <div class="">
      {{Stats.Beginner.Attempted}}
    </div>
    <div class="">
      {{Stats.Beginner.PercentWon | percent}}
    </div>
    <div class="">
      {{Stats.Beginner.BestTime}}
    </div>
    <div class="">
      {{Stats.Beginner.AverageWinTime}}
    </div>
  </div>
  <div class="row-two d-flex flex-row p-2 justify-content-between">
    <div class="">
      Intermediate
    </div>
    <div class="">
      {{Stats.Intermediate.Won}}
    </div>
    <div class="">
      {{Stats.Intermediate.Attempted}}
    </div>
    <div class="">
      {{Stats.Intermediate.PercentWon | percent}}
    </div>
    <div class="">
      {{Stats.Intermediate.BestTime}}
    </div>
    <div class="">
      {{Stats.Intermediate.AverageWinTime}}
    </div>
  </div>
  <div class="row-three d-flex flex-row p-2 justify-content-between">
    <div class="">
      Expert
    </div>
    <div class="">
      {{Stats.Expert.Won}}
    </div>
    <div class="">
      {{Stats.Expert.Attempted}}
    </div>
    <div class="">
      {{Stats.Expert.PercentWon | percent}}
    </div>
    <div class="">
      {{Stats.Expert.BestTime}}
    </div>
    <div class="">
      {{Stats.Expert.AverageWinTime}}
    </div>
  </div>
</div>