#SmileyContainer{
    border: 2px solid black;
    width: 100%;
    border-radius: 5px;
    font-size: 35px;
    min-width: 225px;
    color:rgb(0, 219, 0);
}

.warning{
    border-color:orange !important;
    color: orange !important;
}

.danger{
    border-color: red !important;
    color:red !important;
}

.win{
    border-color: rgb(0, 219, 0) !important;
}

.paused {
    color: gray !important;
}

.smiley-text{
    font-size: 20px;
}