<div id="SmileyContainer" class="px-3 py-2"
  [class.warning]="(gameStateManager.GameStatus == 1 || gameStateManager.GameStatus == 2 || gameStateManager.GameStatus == 0) && 
                  gameStateManager.GetFlaggedCount() >= gameStateManager.Difficulty.MineCount"
  [class.danger]="gameStateManager.GameStatus == 4"
  [class.win]="gameStateManager.GameStatus == 3"
  [class.paused]="gameStateManager.GameStatus == 5">

  <div [ngSwitch]="gameStateManager.GameStatus">

    <div *ngSwitchCase="3" class="d-flex flex-row align-items-center">
        <i class="fas fa-laugh-beam mr-2"></i>
        <div class="smiley-text">
          <span>WIN!!</span>
        </div>
    </div>

    <div *ngSwitchCase="4" class="d-flex flex-row align-items-center">
        <i class="fas fa-dizzy mr-2"></i>
        <div class="smiley-text">
          <span>OH NO!</span>
        </div>
    </div>

    <div *ngSwitchCase="5" class="d-flex flex-row align-items-center">
        <i class="fas fa-meh-blank mr-2"></i>
        <div class="smiley-text">
          <span>PAUSED</span>
        </div>
    </div>

    <div *ngSwitchDefault>

      <div *ngIf="gameStateManager.MouseDown; else start" class="d-flex flex-row align-items-center">
          <i class="fas fa-grin-tongue-wink"></i>
      </div>

      <ng-template #start>
          <div *ngIf="gameStateManager.GameStatus == 0 && gameStateManager.GetFlaggedCount() < gameStateManager.Difficulty.MineCount; else playing" class="d-flex flex-row align-items-center">
              <i  class="fas fa-smile mr-2"></i>
              <div class="smiley-text">
                <span>LET'S PLAY!</span>
              </div>
          </div>
      </ng-template>

      <ng-template #playing>
          <div *ngIf="gameStateManager.GetFlaggedCount() < gameStateManager.Difficulty.MineCount; else awry" class="d-flex flex-row align-items-center">
              <i  class="fas fa-smile mr-2"></i>
              <div class="smiley-text">
                <span>KEEP GOING</span>
              </div>
          </div>
      </ng-template>

      <ng-template #awry>
          <div class="d-flex flex-row align-items-center">
              <i class="fas fa-surprise mr-2"></i>
              <div class="smiley-text">
                <span>HMMM...</span>
              </div>
          </div>
      </ng-template>
    </div>
  </div>
</div>
