<div id="SmileyContainer" class="px-3 py-2"
  [class.warning]="(Model.Board.GameStatus == 1 || Model.Board.GameStatus == 2 || Model.Board.GameStatus == 0) && 
                  Model.Board.GetFlaggedCount() >= Model.Board.Difficulty.MineCount"
  [class.danger]="Model.Board.GameStatus == 4">

  <div [ngSwitch]="Model.Board.GameStatus">

    <div *ngSwitchCase="3" class="d-flex flex-row align-items-center">
        <i class="fas fa-laugh-beam mr-2"></i>
        <div class="smiley-text">
          <span>You win!!</span>
        </div>
    </div>

    <div *ngSwitchCase="4" class="d-flex flex-row align-items-center">
        <i class="fas fa-dizzy mr-2"></i>
        <div class="smiley-text">
          <span>You Lost!!</span>
        </div>
    </div>

    <div *ngSwitchDefault>

      <div *ngIf="Model.Board.GameStatus == 0 && Model.Board.GetFlaggedCount() < Model.Board.Difficulty.MineCount; else playing" class="d-flex flex-row align-items-center">
          <i  class="fas fa-smile mr-2"></i>
          <div class="smiley-text">
            <span>Let's Play!</span>
          </div>
      </div>

      <ng-template #playing>
          <div *ngIf="Model.Board.GetFlaggedCount() < Model.Board.Difficulty.MineCount; else awry" class="d-flex flex-row align-items-center">
              <i  class="fas fa-smile mr-2"></i>
              <div class="smiley-text">
                <span>Keep Going!</span>
              </div>
          </div>
      </ng-template>

      <ng-template #awry>
          <div class="d-flex flex-row align-items-center">
              <i class="fas fa-surprise mr-2"></i>
              <div class="smiley-text">
                <span>Something has gone awry...</span>
              </div>
          </div>
      </ng-template>
    </div>
  </div>
</div>
