<div id="CounterContainer" class="px-3 py-2 mt-2">
  <div class="d-flex flex-row">
    <div class="mr-3">
        FLAGS LEFT: 
    </div>
    <div class="font-weight-bold ml-auto" 
        [class.text-success]="counterService.Count > 0 || (counterService.Count == 0 && gameStateManager.GameStatus == 3)" 
        [class.text-danger]="counterService.Count < 0 || (counterService.Count == 0 && gameStateManager.GameStatus != 3)">{{counterService.Count}}</div>
  </div>
  <div class="small-text d-flex flex-row">
    <div>
        TOTAL MINES: 
    </div>
    <span class="font-weight-bold ml-auto">{{gameStateManager.Difficulty.MineCount}}</span>
  </div>
</div>