<div id="NewGameContainer">
  <div class="row">
      <div id="ButtonContainer" class="col-6 offset-3">
        <!-- <h1 class="text-primary">WELCOME TO ANGULAR MINESWEEPER!</h1> -->
        <!-- <h2 class="text-info mt-4">Select your preferred difficulty:</h2> -->
        <!-- <div id="RadioContainer" class="flex-column mt-3 ml-4">
            <div class="radio">
                <label>
                    <input type="radio"
                           [checked]="Difficulty == 'Easy'"
                           (click)="UpdateDifficulty('Easy')"
                           name="ProfitCode">
                    <span class="ml-2">Easy</span>
                </label>
              </div>
              <div class="radio">
                <label>
                    <input type="radio"
                           [checked]="Difficulty == 'Intermediate'"
                           (click)="UpdateDifficulty('Intermediate')"
                           name="ProfitCode">
                    <span class="ml-2">Intermediate</span>
                </label>
              </div>
              <div class="radio">
                <label>
                    <input type="radio"
                           [checked]="Difficulty == 'Expert'"
                           (click)="UpdateDifficulty('Expert')"
                           name="ProfitCode">
                    <span class="ml-2">Expert</span>
                </label>
              </div>
        </div> -->
        <div class="d-flex flex-row justify-content-center">
            <div class="d-flex flex-row shadow rounded bg-light p-4">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active" (click)="UpdateDifficulty('Easy')">
                        <input type="radio" name="options" id="option1" autocomplete="off" [checked]="Difficulty == 'Easy'"> Easy
                    </label>
                    <label class="btn btn-primary" (click)="UpdateDifficulty('Intermediate')">
                        <input type="radio" name="options" id="option2" autocomplete="off" [checked]="Difficulty == 'Intermediate'"> Intermediate
                    </label>
                    <label class="btn btn-primary" (click)="UpdateDifficulty('Expert')">
                        <input type="radio" name="options" id="option3" autocomplete="off" [checked]="Difficulty == 'Expert'"> Expert
                    </label>
                </div>

                <button routerLink="/Gameplay/{{Difficulty}}" class="btn btn-outline-primary ml-5">PLAY</button>
            </div>
        </div>


      </div>
  </div>

</div>