<div id="NewGameContainer">
  <div class="row">
      <div id="ButtonContainer" class="col-6 offset-3">

        <div class="d-flex flex-row justify-content-center">
            <div class="d-flex flex-row shadow rounded bg-light p-4">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active" (click)="UpdateDifficulty('Easy')">
                        <input type="radio" name="options" id="option1" autocomplete="off" [checked]="Difficulty == 'Easy'"> Easy
                    </label>
                    <label class="btn btn-primary" (click)="UpdateDifficulty('Intermediate')">
                        <input type="radio" name="options" id="option2" autocomplete="off" [checked]="Difficulty == 'Intermediate'"> Intermediate
                    </label>
                    <label class="btn btn-primary" (click)="UpdateDifficulty('Expert')">
                        <input type="radio" name="options" id="option3" autocomplete="off" [checked]="Difficulty == 'Expert'"> Expert
                    </label>
                </div>

                <button routerLink="/Gameplay/{{Difficulty}}" class="btn btn-outline-primary ml-5">PLAY</button>
            </div>
        </div>

        <!-- <select>
            <option *ngFor="let item of List; let i = index;" value= {{List[i]}}>
                {{item}}
            </option>
        </select>

        <div class="dropdown">
        <label>Camera:</label>
            <div>
                <select [(ngModel)]="selectedCamera" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <option *ngFor="let camera of cameras.options" class="btn-warning" [ngValue]="camera.value">{{camera.name}}</option>
                </select>
            </div>
        </div> -->

      </div>
  </div>

</div>