<div id="BoardContainer" class="d-flex flex-row justify-content-center">
  <div class="flex-column rounded shadow bg-light p-5 my-5">

      <div class="d-flex flex-row">
        <app-grid [Model]="Model.Grid"></app-grid>
        <div id="InfoBar" class="d-flex flex-column ml-3">
          <app-smiley [Model]="Model.Smiley"></app-smiley>
          <app-timer [Model]="Model.Timer"></app-timer>
          <app-counter [Model]="Model.Counter"></app-counter>
          <button (click)="Model.Reset()" class="btn btn-outline-primary align-self-end w-100 mt-2">NEW GAME</button>
        </div>
      </div>
<!-- 
      <div class="flex-row pt-3">
        
      </div> -->
     
  </div>
</div>

<!-- <div id="BoardContainer" class="d-flex flex-column align-content-center">
  <div class="flex-column">
      <div class="d-flex flex-row justify-content-center pt-5">
        <app-grid [Model]="Model.Grid"></app-grid>
        <div id="InfoBar" class="flex-column ml-3">
          <app-timer [Model]="Model.Timer"></app-timer>
          <app-counter [Model]="Model.Counter"></app-counter>
        </div>
      </div>
  </div>

    <div class="flex-row pt-3">
      <button (click)="Model.Reset()" class="btn btn-outline-primary mr-3">NEW GAME</button>
      <button routerLink="/New" class="btn btn-outline-primary mr-3">BACK TO MENU</button>
    </div>
</div> -->