.cell-container{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 1px;
    border-radius: 5px;
    border: 2px solid #007bff;
    color: #007bff;
}

.cell-container:hover{
    border: 2px solid fuchsia;
    cursor: pointer;
}

.is-selected{
    background-color: fuchsia !important;
    color:white !important;
    border: 2px solid fuchsia;
}

.is-empty{
    color: fuchsia !important;
}

.is-mine{
    background-color: red !important;
    border: 2px solid red;
}

.is-revealed{
    color: white;
}

.is-flagged{
    color: black;
}

.is-mine:hover{
    border: 2px solid red;
}

.won{
    background-color: #00ff43 !important;
    border: 2px solid #00ff43;
}

/* .fa-times{
    font-size: 21px;
} */