<div [class.is-mine]="Model.IsMine && Model.IsSelected" 
    [class.is-selected]="Model.IsSelected"
    [class.is-empty]="Model.Count == 0 && Model.IsSelected && !Model.IsMine"
    [class.is-flagged]="Model.IsFlagged"
    [class.is-revealed]="Model.IsRevealed"
    class="cell-container bg-primary text-center" (contextmenu)="RightClickCell()" (click)="ClickCell()">

    <span *ngIf="Model.IsSelected && !Model.IsMine; else icon">
      {{Model.Count}}
    </span>
    <ng-template #icon>
      <i [class.d-none]="(Model.IsFlagged && Model.IsRevealed && !Model.IsMine)" class="fas fa-bomb"></i>
      <i [class.d-none]="!(Model.IsFlagged && Model.IsRevealed && !Model.IsMine)" class="fas fa-times text-danger"></i>
    </ng-template>

</div>